[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch WebBrowser /usr/share/xubuntu-docs/index.html
Icon=help-browser
StartupNotify=false
Terminal=false
Categories=X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Help
Name[af]=Hulp
Name[ar]=مساعدة
Name[be]=Даведка
Name[bg]=Помогне
Name[ca]=Ajuda
Name[cs]=Nápověda
Name[da]=Hjælp
Name[de]=Hilfe
Name[el]=Βοήθεια
Name[es]=Ayuda
Name[et]=Abi
Name[eu]=Laguntza
Name[fi]=Ohje
Name[fr]=Aide
Name[gl]=Axuda
Name[he]=עזרה
Name[hi]=मदद
Name[hr]=Pomoć
Name[hu]=Súgó
Name[id]=Bantuan
Name[it]=Aiuto
Name[ja]=ヘルプ
Name[ka]=დახმარება
Name[kk]=Көмек
Name[ko]=도움말
Name[lt]=Žinynas
Name[lv]=Palīdzība
Name[nl]=Hulp
Name[oc]=Ajuda
Name[pl]=Pomoc
Name[pt]=Ajuda
Name[pt_BR]=Ajuda
Name[ru]=Справка
Name[sk]=Pomocník
Name[sq]=Ndihmë
Name[sr]=Помоћ
Name[sr@latin]=Pomoć
Name[sv]=Hjälp
Name[th]=ช่วยเหลือ
Name[tr]=Yardım
Name[ug]=يادەم
Name[uk]=Допомога
Name[ur]=مدد
Name[zh_CN]=帮助
Name[zh_TW]=幫助
Comment=Help using Xfce
Comment[af]=Hulp met die gebruik van Xfce
Comment[ar]=مساعدة في استخدام Xfce
Comment[be]=Дапамога пры выкарыстанні Xfce
Comment[bg]=Помощ при използване на Xfce
Comment[ca]=Ajuda de Xfce
Comment[cs]=Nápověda k používání Xfce
Comment[da]=Hjælp til brug af Xfce
Comment[de]=Hilfe zur Nutzung von Xfce
Comment[el]=Βοήθεια για τη χρήση του Xfce
Comment[es]=Ayuda para usar Xfce
Comment[et]=Abiteave Xfce kasutamise kohta
Comment[eu]=Lagundu Xfce erabiltzen
Comment[fi]=Ohjeita Xfce:n käyttöön
Comment[fr]=Aide Xfce
Comment[gl]=Axuda sobre o uso de Xfce
Comment[he]=עזרה בשימוש ב־Xfce
Comment[hi]=Xfce को इस्तेमाल करने में मदद 
Comment[hr]=Pomoć pri  korištenju Xfce
Comment[hu]=Segítség az Xfce használatához
Comment[id]=Bantuan menggunakan Xfce
Comment[it]=Aiuto per l'utilizzo di Xfce
Comment[ja]=Xfce の使用に関するヘルプです
Comment[ka]=დახმარება Xfce-ის გამოყენების შესახებ
Comment[kk]=Xfce қолдану көмегі
Comment[ko]=XFCE 사용 도움
Comment[lt]=Pagalba besinaudojant Xfce
Comment[lv]=Palīdzība izmantot Xfce
Comment[nl]=Hulp bij het gebruik van Xfce
Comment[oc]=Ajuda a l’utilizacion de Xfce
Comment[pl]=Pomoc w używaniu Xfce
Comment[pt]=Ajuda ao usar o Xfce
Comment[pt_BR]=Ajuda usando Xfce
Comment[ru]=Справка по использованию Xfce
Comment[sk]=Pomocník pre používanie Xfce
Comment[sq]=Ndihmë për përdorimin e Xfce
Comment[sr]=Помоћ за коришћење Иксфце-а
Comment[sr@latin]=Pomoć pri koriščenju Xfce desktop okruženja
Comment[sv]=Hjälp hur man använder Xfce
Comment[th]=ช่วยเหลือการใช้ Xfce
Comment[tr]=Xfce kullanımıyla ilgili yardım
Comment[ug]=Xfce ياردەملىرى
Comment[uk]=Допомога про використання Xfce
Comment[ur]=Xfce کو استعمال کرنے میں مدد
Comment[zh_CN]=使用 Xfce 的帮助
Comment[zh_TW]=幫助您使用 Xfce
Hidden=true

