favorites=xfce4-web-browser.desktop,xfce4-mail-reader.desktop,xfce4-file-manager.desktop,libreoffice-writer.desktop,libreoffice-calc.desktop,snap-store_snap-store.desktop,xfce4-terminal-emulator.desktop,xfhelp4.desktop
button-title=Applications Menu
button-title[ar]=قائمة التطبيقات
button-title[de]=Anwendungsmenü
button-title[es]=Menú de aplicaciones
button-title[et]=Rakenduste menüü
button-title[fr]=Menu Applications
button-title[gl]=Menu de aplicacións
button-title[he]=תפריט יישומים
button-title[id]=Menu Aplikasi
button-title[ja]=アプリケーションメニュー
button-title[ka]=პროგრამების მენიუ
button-title[kk]=Қолданбалар мәзірі
button-title[lt]=Programų meniu
button-title[oc]=Menut d’aplicacions
button-title[pl]=Menu programów
button-title[pt]=Menu de Aplicações
button-title[pt_BR]=Menu de Aplicações
button-title[ru]=Меню приложений
button-title[sv]=Program meny
button-title[th]=เมนูโปรแกรม
button-title[tr]=Uygulamalar Menüsü
button-title[uk]=Меню Програм
button-icon=xubuntu-logo-menu
show-button-title=false
show-button-icon=true
load-hierarchy=true
launcher-show-name=true
launcher-show-description=false
item-icon-size=1
category-icon-size=0
hover-switch-category=false
favorites-in-recent=true
display-recent-default=false
position-search-alternate=true
command-switchuser=dm-tool switch-to-greeter
show-command-switchuser=false
command-settings=xfce4-settings-manager
show-command-settings=true
command-menueditor=menulibre
show-command-menueditor=true
command-lockscreen=xflock4
show-command-lockscreen=true
command-logout=xfce4-session-logout
show-command-logout=true
search-actions=5

[action0]
name=Man Pages
name[ar]=صفحات دليل المستخدم Man
name[de]=Hauptseiten
name[es]=Páginas de manual
name[et]=Rakenduste abiteave
name[fr]=Man Pages
name[gl]=Páxinas de manual
name[he]=עמודי הסבר
name[id]=Halaman Man
name[ja]=メインページ
name[ka]=დოკუმენტაციის გვერდები
name[kk]=Көмек (man) беттері
name[lt]=Vadovo puslapiai
name[oc]=Paginas principalas
name[pl]=Strony podręcznika
name[pt]=Páginas de manual
name[pt_BR]=Páginas de manuais
name[ru]=Страницы man
name[sv]=Huvudsidor
name[th]=หน้าคู่มือ
name[tr]=El Kitabı
name[uk]=Сторінки Man
pattern=#
command=exo-open --launch TerminalEmulator man %s
regex=false

[action1]
name=Wikipedia
name[ar]=ويكيبيديا
name[de]=Wikipedia
name[es]=Wikipedia
name[et]=Vikipeedia
name[fr]=Wikipedia
name[gl]=Wikipedia
name[he]=ויקיפדיה
name[id]=Wikipedia
name[ja]=Wikipedia
name[ka]=Wikipedia - უფასო ენციკლოპედია
name[kk]=Википедия
name[lt]=Vikipedija
name[oc]=Wikipèdia
name[pl]=Wikipedia
name[pt]=Wikipédia
name[pt_BR]=Wikipédia
name[ru]=Википедия
name[sv]=Wikipedia
name[th]=วิกิพีเดีย
name[tr]=Wikipedia
name[uk]=Вікіпедія
pattern=!w
command=exo-open --launch WebBrowser https://en.wikipedia.org/wiki/%u
regex=false

[action2]
name=Run in Terminal
name[ar]=فتح في المحطة الطرفية
name[de]=Im Terminal öffnen
name[es]=Ejecutar en un terminal
name[et]=Käivita terminalis
name[fr]=Exécuter dans un terminal
name[gl]=Executar no intérprete de ordes
name[he]=הפעלה במסוף
name[id]=Jalankan dalam Terminal
name[ja]=ターミナルで実行する
name[ka]=ტერმინალში გაშვება
name[kk]=Терминалда орындау
name[lt]=Vykdyti terminale
name[oc]=Executar dins lo terminal
name[pl]=Uruchom w terminalu
name[pt]=Executar num Terminal
name[pt_BR]=Executar no terminal
name[ru]=Запустить в терминале
name[sv]=Kör i Terminal
name[th]=ทำงานในเทอร์มินัล
name[tr]=Terminalde çalıştır
name[uk]=Запустити у Терміналі
pattern=!
command=exo-open --launch TerminalEmulator %s
regex=false

[action3]
name=Open URI
name[ar]=فتح URI
name[de]=Adresse öffnen
name[es]=Abrir una ubicación
name[et]=Ava URI
name[fr]=Ouvrir l'URI
name[gl]=Abrir unha URI
name[he]=פתיחת כתובת
name[id]=Buka URI
name[ja]=URI を開く
name[ka]=URI-ის გახსნა
name[kk]=URI ашу
name[lt]=Atverti URI
name[oc]=Dobrir l’URI
name[pl]=Otwórz adres URI
name[pt]=Abrir URI
name[pt_BR]=Abrir URI
name[ru]=Открыть URI
name[sv]=Öppna URI
name[th]=เปิด URI
name[tr]=Bağlantıyı Aç
name[uk]=Відкрити посилання
pattern=^(file|http|https):\\/\\/(.*)$
command=exo-open \\0
regex=true

[action4]
name=Search for files
name[ar]=بحث عن ملفات
name[de]=Nach Dateien suchen
name[es]=Buscar archivos
name[et]=Otsi faile
name[fr]=Chercher des fichiers
name[gl]=Buscar por ficheiros
name[he]=חיפוש קבצים
name[id]=Cari berkas
name[ja]=ファイルを検索する
name[ka]=ფაილების ძებნა
name[kk]=Файлдарды іздеу
name[lt]=Ieškoti failų
name[oc]=Cercar de fichièrs
name[pl]=Szukaj plików
name[pt]=Procurar por ficheiros
name[pt_BR]=Pesquisar por arquivos
name[ru]=Поиск файлов
name[sv]=Sök efter filer
name[th]=ค้นหาแฟ้ม
name[tr]=Dosya arama
name[uk]=Шукати файли
pattern=-
command=catfish --path=~ --start %s
regex=false
